*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  ;
}

.main-container{
  width: 100vw;
  height: 100vh;
  background-color: red;
  background-image: url('./src/assets/courage-house.jpg');
  background-position: bottom;
  background-size: cover;
  /* src\assets\courage-house.jpg */
  overflow: hidden;
  cursor: url('./src/assets/courage-hand.png') 4 12,auto
}
.response-container{
  display: flex;
  /* background-color: green; */
  justify-content: space-around;
  position: absolute;
  width: 100%;
  bottom: 0;
}
.response-left{
  /* background-color: yellow; */
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
.response-right{
  /* background-color: blue; */
  width: 50%;
    display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;

}
.dog-image{
  width: 300px;
  height: 300px;
}
.courage-text{
  font-family: "Boink Drop Shadow W01";
  font-size: 35px;
  color: rgb(253,51,26);
  -webkit-text-stroke: 0.5px black; 
            /* text-stroke: 2px black;  */
}
.help{
  font-family: "Boink Drop Shadow W01";
  font-size: 100px;
  color:  #dfdf7c;
  -webkit-text-stroke: 5px black; 
            /* text-stroke: 2px black;  */

  text-decoration: none;

  background-color: #57BD8E;
}
.help-box{
 
  /* background-color: green; */
  padding: 140px;
  /* border-radius: 10px; */
  background-image: url("./src/assets/computer-final-1.png");
  /* src\assets\computer-final-1.png */
}
.icon-sound{
  position: absolute;
  font-size: 50px;
  color: white;
  margin-top: 10px;
  margin-left: 10px;
  cursor: pointer;
}
