.main-container {
  width: 100vw;
  height: 100vh;
  background-image: url("./src/assets/courage-house.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: end;
}
.icon-sound {
  position: absolute;
  font-size: 50px;
  color: white;
  top: 10px;
  left: 15px;
  z-index: 300;
}
.courage-div {
  z-index: 20;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.courage-text {
  font-family: "copper";
  font-size: 35px;
  font-weight: 900;
  color: rgb(255, 30, 0);
  -webkit-text-stroke: 1.5px black;
}
.interact-div {
  display: flex;
  z-index: 100;
  gap: 210px;
}
.computer-div {
  width: 350px;

  position: relative;
  cursor: pointer;
}
.div-help {
  position: absolute;
  width: 350px;
  top: 100px;
  left: 80px;
  font-size: 50px;
  text-decoration: none;
  z-index: 100;
  font-weight: 800;
  color: #faea8c;
  cursor: pointer;
  -webkit-text-stroke: 1.5px black;
}

.villian {
  position: absolute;
  top: 0;
  display: none;
}
.foot-div {
  display: flex;
  width: 190px;
  right: 0;
  top: 55%;
}
.fred-div {
  display: flex;
  flex-wrap: nowrap;
  width: 190px;
  right: 13%;
  top: 65%;
}
.katze-div {
  display: flex;
  flex-wrap: nowrap;
  width: 190px;
  right: 45%;
  top: 60%;
}
.cat-div {
  display: flex;
  width: 150px;
  left: 0;
  top: 70%;
}
.duck-div {
  display: flex;
  width: 150px;
  left: 10%;
  top: 60%;
}
.rams-div {
  display: flex;
  width: 400px;
  left: 17%;
  top: 10%;
  z-index: 10;
}

@media only screen and (max-width: 765px) {
  .rams-div,
  .duck-div,
  .cat-div,
  .katze-div,
  .fred-div,
  .foot-div {
    display: none !important;
  }
  .main-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .interact-div {
    gap: 10px;
    display: flex;
    flex-direction: column;
  }
}
