
.main-container{
  width: 100vw;
  height: 100vh;
  background-image: url('./src/assets/courage-house.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  display: flex;
  position: relative;
    justify-content: center;
    align-items: end;
}
.icon-sound{
  position: absolute;
  font-size: 50px;
  color: white;
  top: 10px;
  left: 15px;
   /* margin-top: 30px; */
  /* margin-left: 40px;  */
  /* cursor: pointer; */
}
.courage-div{
    z-index: 20;
}
.courage-text{
  font-family: "copper";
  font-size: 35px;
  font-weight: 900;
  color: rgb(255, 30, 0);
  -webkit-text-stroke: 1.5px black;  
             /* text-stroke: 2px black;  */
}
.interact-div{
    display: flex;
    z-index: 100;
    gap: 210px;
    /* background-color: red; */
    padding: 10px;
}
.computer-div{
    width: 350px;
    background-image: url('./src/assets/computer.png');
    background-position: center;
    background-repeat: none;
    position: relative;
    /* background-color: red; */
    cursor: pointer;

}
.div-help{
    position: absolute;
    font-size: 50px;
    top: 28%;
    left: 26%;
    text-decoration: none;
    z-index: 100;
    font-weight: 800;
    color: red;
    cursor: pointer;
  -webkit-text-stroke: 1.5px black;  

    /* background-color: red; */
}
.villian{
    position: absolute;
    top: 0;
    display: none;
}
.foot-div{
    display: flex;
    width: 190px;
    right: 0;
    top: 55%;
}
.fred-div{
   display: flex;
   flex-wrap: nowrap;
    width: 190px;
    right: 13%;
    top: 65%; 
}
.katze-div{
      display: flex;
   flex-wrap: nowrap;
    width: 190px;
    right: 45%;
    top: 60%; 
}
.cat-div{
      display: flex;
    width: 150px;
    left: 0;
    top: 70%;
}
.duck-div{
    display: flex;
    width: 150px;
    left: 10%;
    top: 60%;
}
.rams-div{
    display: flex;
    width: 400px;
    left: 17%;
    top: 10%;
    z-index: 10;
}