*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
  cursor: url('./src/assets/courage-hand.png') 4 12,auto;
  font-family: "copper";
}

@font-face {
  font-family: 'copper';
  src: url('./assets/fonts/copper.ttf') format('truetype');
  /* src/assets/fonts/copper.ttf */
  font-weight: normal;
  font-style: normal;
}